{% extends 'base.html' %}
<head>
  <meta charset="utf-8" />
  <title>Chart.js Example</title>
  <!-- import plugin script -->
</head>

{% block content %}
<div class="container">
  <div class="row">
      <div class="col-sm-6">
        <canvas id="myChart" width="600" height="400"></canvas>
        <form class="form-inline">
        <div class="container">
          <div class="form-group">
              <span><label for="symbol">Lookup Symbol:</label>
              <input type="text" class="form-control" id="symbol" name="symbol">
              <button type="button" id="pltbtn" class="btn">Plot</button>
              </span>
            </div>
          </form>
          </div>
        </div>
      </div>
  </div>
</div>
{% block javascript %}
  <script src="{{ url_for('static',filename='js/charting.js') }}"></script>
{% endblock %}
{% endblock %}