{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <form name="login">
            <div class="form-group">
               <label for "email">Email</label>
               <input name="email" type="email" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for "password">Password</label>
                <input name="password" class="form-control" name="password" id="password" placeholder="Enter Password">
            </div>
            <button id='submit-btn' type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</div>
<script src="{{ url_for('static',filename='js/login.js') }}"></script>
{% endblock %}